HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

**/files/

### VS Code ###
.vscode/

*.yml
# prod 설정은 환경변수 플레이스홀더만 있으므로 커밋 허용
!src/main/resources/application-prod.yml
# GitHub Actions 워크플로우 허용
!.github/**/*.yml

.DS_Store